body {
    background-color:lightblue;
}
.list {
    padding-top: 35px;
    text-align: center;
}
.menu{
    position: fixed;
    width: 100%;
    /* background-color: black; */
    padding: 5px;
    text-align: right;
    z-index:999;
    /* z-index: 1; */
}
.NewEmployee{
    margin: 10px;
    color: white;
    background-color:tomato;
    font-size: large;
    cursor: pointer;
    /* width: fit-content; */
    margin-right: 20px;
    display: inline;
}
.edit{
    position: fixed;
    background-color:white;
    /* right:10px; */
    display: none;
    padding: 15px;
    border-radius: 5px;
    top: 35%;
    left: 35%;
    width: 420px;
    height: 280px;
    /* height:100%; */
    justify-content: center;
    z-index: unset;
    padding-bottom: 0px;
}
.edit{
    padding:10px;
    text-align: center;
}
.edit-content input {
    top:50%;
    margin-top: 2px;
    margin-bottom: 25px; 
    padding: 4px;
    justify-content: center;
    /* display: block; */
     width: 50%;
    border: 1px solid gray;
    /*border-color:;
    height:15%*/
}
.chname,.chsal,.chage{
    margin-top: -25px;
    display:none;
    left:50%;
    color: red;
    /* margin-bottom: 5px; */
}
.add,.cancel{
    margin-top: 12px;
    background-color:yellowgreen;
    width:15%;
    color:black;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 3px;
}
.all {
    color:black;
    font-size: 25px;
}
.close {
    position:absolute;
    top:-12px;
    right: -12px;
    background-color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow:chocolate;
    color: coral;
}